{% extends "base.html" %}

{% block title %}
    Edit User  Role
{% endblock %}

{% block content %}
<div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="containerModalLabel">Edit Role</h5>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('edit_user_roles', user_id=user.id) }}" method="post">
                        <h2>{{ user.username }}</h2>
                        <label for="roles">Rôles :</label><br>
                        {% for role in roles %}
                            <input type="checkbox" id="role{{ role.id }}" name="roles" value="{{ role.id }}"
                                   {% if role in user.roles %} checked {% endif %}>
                            <label for="role{{ role.id }}">{{ role.name }}</label><br>
                        {% endfor %}
                        <button type="submit">Save Role</button>
                    </form>            
                </div>
            </div>
    </div>
</div>
{% endblock %}

