{% extends "base.html" %}

{% block title %}
    Add Loading Information
{% endblock %}

{% block content %}
<div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loadingModalLabel">Add Loading Information</h5>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('add_loading', container_id=container_id) }}" method="post">
                        <div class="form-group">
                            <label for="no_of_bags">Number of Bags</label>
                            <input type="number" class="form-control" id="no_of_bags" name="no_of_bags" placeholder="Enter number of bags" required>
                        </div>
                        <div class="form-group">
                            <label for="labor">Labor</label>
                            <input type="text" class="form-control" id="labor" name="labor" placeholder="Enter labor details" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
