
/*** Spinner Start ***/

/*** Spinner ***/
/* Styles généraux pour les messages flash */
.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
    text-align: center; /* Centre le texte */
    max-width: 600px; /* Optionnel: limite la largeur du message */
    margin-left: auto; /* Centre horizontalement */
    margin-right: auto; /* Centre horizontalement */
}

/* Couleurs spécifiques aux catégories */
.flash-message.success {
    background-color: #28a745; /* Vert pour le succès */
}

.flash-message.error {
    background-color: #dc3545; /* Rouge pour l'erreur */
}

.flash-message.warning {
    background-color: #ffc107; /* Jaune pour l'avertissement */
}

.flash-message.info {
    background-color: #17a2b8; /* Bleu pour l'information */
}



/* Styles pour la barre de navigation personnalisée */
.custom-navbar {
    background-color: #e5e8ed; /* Couleur de fond claire (ajuste selon tes préférences) */
    border-radius: 15px; /* Bordure arrondie */
    border: 1px solid #ddd; /* Bordure discrète */
    padding: 0.5rem 1rem; /* Espacement autour du contenu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.custom-navbar .nav-link {
    color: #343a40; /* Couleur du texte des liens */
}

.custom-navbar .nav-link:hover {
    color: #007bff; /* Couleur des liens au survol */
}

.custom-navbar .dropdown-menu {
    border-radius: 10px; /* Bordure arrondie pour les menus déroulants */
}

.custom-navbar .btn-primary {
    background-color: #007bff; /* Couleur du bouton de connexion */
    border: none; /* Supprimer la bordure par défaut */
}

.custom-navbar .btn-primary:hover {
    background-color: #0056b3; /* Couleur du bouton au survol */
}

.custom-navbar .btn-light {
    background-color: #ffffff; /* Couleur de fond pour le bouton utilisateur */
    border: 1px solid #ddd; /* Bordure discrète pour le bouton utilisateur */
}

.custom-navbar .btn-light:hover {
    background-color: #f1f1f1; /* Couleur de fond au survol pour le bouton utilisateur */
}

/* Style pour les tables de données */
table.dataTable thead th,
table.dataTable tbody td,
table.dataTable tfoot th {
    color: black; /* Couleur du texte */
}

table.dataTable {
    border: 1px solid black; /* Bordure du tableau */
    width: 100%; /* Pour que le tableau prenne toute la largeur disponible */
    border-collapse: collapse; /* Pour que les bordures ne se dupliquent pas */
    font-size: 14px; /* Taille de la police */
}

table.dataTable thead th,
table.dataTable tbody td,
table.dataTable tfoot th {
    border: 1px solid black; /* Bordure des cellules */
    padding: 10px; /* Espacement intérieur des cellules */
    text-align: left; /* Alignement du texte à gauche */
}

table.dataTable thead th {
    background-color: #f2f2f2; /* Couleur de fond de l'en-tête */
    font-weight: bold; /* Texte en gras dans l'en-tête */
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Couleur de fond des lignes paires */
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-xl-square {
    width: 66px;
    height: 66px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    color: var(--bs-white);
    border: none;
}

.btn.btn-primary:hover {
    background: var(--bs-dark);
}

.btn.btn-light {
    color: var(--bs-primary);
    border: none;
}

.btn.btn-light:hover {
    color: var(--bs-white);
    background: var(--bs-primary);
}

.btn.btn-dark {
    color: var(--bs-white);
    border: none;
}

.btn.btn-dark:hover {
    color: var(--bs-primary);
    background: var(--bs-light);
}

/*** Navbar Start ***/
.nav-bar {
    background: var(--bs-white);
}

.sticky-top {
    transition: 1s;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    letter-spacing: 1px;
    color: var(--bs-dark);
    font-size: 17px;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top .navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--bs-dark);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top .navbar-light .navbar-brand img {
    max-height: 50px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    margin-top: 8px !important;
    background: var(--bs-light);
    transition: .5s;
    opacity: 1;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    border: 0;
    border-radius: 10px;
    margin-top: 8px !important;
    transition: .5s;
    opacity: 0;
    }
}

@media (max-width: 991px) {
    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 8px 15px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }

    .sticky-top .navbar-light .navbar-nav .nav-link {
        padding: 12px 0;
    }
}
/*** Navbar End ***/

 


/*** Footer Start ***/
.footer {
    background: var(--bs-dark);
}

.footer .footer-item {
    display: flex;
    flex-direction: column;
}

.footer .footer-item a {
    line-height: 35px;
    color: var(--bs-body);
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer .footer-item a:hover {
    color: var(--bs-primary);
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
    transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
    background: var(--bs-white);
}

.footer .footer-item .footer-btn a:hover i {
    color: var(--bs-primary);
}

.footer .footer-item .opening-date {
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}

.footer .footer-item .opening-date .opening-clock {
    display: flex;
    align-items: center;
    line-height: 35px;
}
/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-dark);
}
/*** copyright end ***/


