{% extends "base.html" %}

{% block title %}
    Add Container
{% endblock %}

{% block content %}
<div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="containerModalLabel">Add Container</h5>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('add_container', booking_id=booking_id) }}" method="POST">
                        <div class="form-group">
                            <label for="arrival_date">Arrival Date</label>
                            <input type="datetime-local" class="form-control" id="arrival_date" name="arrival_date" value="{{ now.strftime('%Y-%m-%dT%H:%M') }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="plant">Plant</label>
                            <input type="text" class="form-control" id="plant" name="plant" value="{{booking.plant}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="product">Product</label>
                            <input type="text" class="form-control" id="product" name="product" value="{{ booking.product }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="freight_forwarder">Freight Forwarder</label>
                            <input type="text" class="form-control" id="freight_forwarder" name="freight_forwarder" value="{{ booking.freight_forwarder.name }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="booking_id">Booking</label>
                            <select class="form-control" id="booking_id" name="booking_id" readonly>
                                <option value="{{ booking.id }}">{{ booking.booking_name }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="bags_type">Bags Type</label>
                            <input type="text" class="form-control" id="bags_type" name="bags_type" value="{{ booking.bag_type }}" readonly>
                        </div>

                        <div class="form-group">
                            <label for="truck_number">Truck Number</label>
                            <input type="text" class="form-control" id="truck_number" name="truck_number" required>
                        </div>
                        <div class="form-group">
                            <label for="container_name">Container Name</label>
                            <input type="text" class="form-control" id="container_name" name="container_name" required>
                        </div>
                        <div class="form-group">
                            <label for="container_tare">Container Tare</label>
                            <input type="number" class="form-control" id="container_tare" name="container_tare" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Container</button>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}
